# PySpark Training - Manipulating DataFrames

-------
# Instantiating a Spark session

Open a Spark session available in our notebook as the `spark` object. In the background, YARN allocate CPU and RAM resources to create a driver and one or more executor JVMs.

In [1]:
import findspark
findspark.init()

# Create a spark-session (akin to what pyspark provides when it is started)
from pyspark.sql import SparkSession
spark = SparkSession.builder.getOrCreate()

In [2]:
type(spark)

pyspark.sql.session.SparkSession

In [3]:
spark

Check the YARN UI: [http://slalomdsvm:8088/ui2/](http://slalomdsvm:8088/ui2/)

In [4]:
! yarn application -list

20/08/10 16:57:11 INFO client.RMProxy: Connecting to ResourceManager at slalomdsvm/10.0.2.15:8050
20/08/10 16:57:11 INFO client.AHSProxy: Connecting to Application History server at slalomdsvm/10.0.2.15:10200
Total number of applications (application-types: [], states: [SUBMITTED, ACCEPTED, RUNNING] and tags: []):1
                Application-Id	    Application-Name	    Application-Type	      User	     Queue	             State	       Final-State	       Progress	                       Tracking-URL
application_1596825752622_0008	       pyspark-shell	               SPARK	   vagrant	   default	           RUNNING	         UNDEFINED	            10%	             http://slalomdsvm:4040

Use the built-in `help()` function to take a look at the methods supported by the class `pyspark.sql.session.SparkSession`.

In [5]:
import pyspark
help(pyspark.sql.session.SparkSession)

Help on class SparkSession in module pyspark.sql.session:

class SparkSession(builtins.object)
 |  The entry point to programming Spark with the Dataset and DataFrame API.
 |
 |  A SparkSession can be used create :class:`DataFrame`, register :class:`DataFrame` as
 |  tables, execute SQL over tables, cache tables, and read parquet files.
 |  To create a SparkSession, use the following builder pattern:
 |
 |  >>> spark = SparkSession.builder \
 |  ...     .master("local") \
 |  ...     .appName("Word Count") \
 |  ...     .config("spark.some.config.option", "some-value") \
 |  ...     .getOrCreate()
 |
 |  .. autoattribute:: builder
 |     :annotation:
 |
 |  Methods defined here:
 |
 |  __enter__(self)
 |      Enable 'with SparkSession.builder.(...).getOrCreate() as session: app' syntax.
 |
 |      .. versionadded:: 2.0
 |
 |  __exit__(self, exc_type, exc_val, exc_tb)
 |      Enable 'with SparkSession.builder.(...).getOrCreate() as session: app' syntax.
 |
 |      Specifically stop the SparkSession on exit of the with block.
 |
 |      .. versionadded:: 2.0
 |
 |  __init__(self, sparkContext, jsparkSession=None)
 |      Creates a new SparkSession.
 |
 |      >>> from datetime import datetime
 |      >>> spark = SparkSession(sc)
 |      >>> allTypes = sc.parallelize([Row(i=1, s="string", d=1.0, l=1,
 |      ...     b=True, list=[1, 2, 3], dict={"s": 0}, row=Row(a=1),
 |      ...     time=datetime(2014, 8, 1, 14, 1, 5))])
 |      >>> df = allTypes.toDF()
 |      >>> df.createOrReplaceTempView("allTypes")
 |      >>> spark.sql('select i+1, d+1, not b, list[1], dict["s"], time, row.a '
 |      ...            'from allTypes where b and i > 0').collect()
 |      [Row((i + CAST(1 AS BIGINT))=2, (d + CAST(1 AS DOUBLE))=2.0, (NOT b)=False, list[1]=2,             dict[s]=0, time=datetime.datetime(2014, 8, 1, 14, 1, 5), a=1)]
 |      >>> df.rdd.map(lambda x: (x.i, x.s, x.d, x.l, x.b, x.time, x.row.a, x.list)).collect()
 |      [(1, 'string', 1.0, 1, True, datetime.datetime(2014, 8, 1, 14, 1, 5), 1, [1, 2, 3])]
 |
 |  createDataFrame(self, data, schema=None, samplingRatio=None, verifySchema=True)
 |      Creates a :class:`DataFrame` from an :class:`RDD`, a list or a :class:`pandas.DataFrame`.
 |
 |      When ``schema`` is a list of column names, the type of each column
 |      will be inferred from ``data``.
 |
 |      When ``schema`` is ``None``, it will try to infer the schema (column names and types)
 |      from ``data``, which should be an RDD of :class:`Row`,
 |      or :class:`namedtuple`, or :class:`dict`.
 |
 |      When ``schema`` is :class:`pyspark.sql.types.DataType` or a datatype string, it must match
 |      the real data, or an exception will be thrown at runtime. If the given schema is not
 |      :class:`pyspark.sql.types.StructType`, it will be wrapped into a
 |      :class:`pyspark.sql.types.StructType` as its only field, and the field name will be "value",
 |      each record will also be wrapped into a tuple, which can be converted to row later.
 |
 |      If schema inference is needed, ``samplingRatio`` is used to determined the ratio of
 |      rows used for schema inference. The first row will be used if ``samplingRatio`` is ``None``.
 |
 |      :param data: an RDD of any kind of SQL data representation(e.g. row, tuple, int, boolean,
 |          etc.), or :class:`list`, or :class:`pandas.DataFrame`.
 |      :param schema: a :class:`pyspark.sql.types.DataType` or a datatype string or a list of
 |          column names, default is ``None``.  The data type string format equals to
 |          :class:`pyspark.sql.types.DataType.simpleString`, except that top level struct type can
 |          omit the ``struct<>`` and atomic types use ``typeName()`` as their format, e.g. use
 |          ``byte`` instead of ``tinyint`` for :class:`pyspark.sql.types.ByteType`. We can also use
 |          ``int`` as a short name for ``IntegerType``.
 |      :param samplingRatio: the sample ratio of rows used for inferring
 |      :param verifySchema: verify data types of every row against schema.
 |      :return: :class:`DataFrame`
 |
 |      .. versionchanged:: 2.1
 |         Added verifySchema.
 |
 |      .. note:: Usage with spark.sql.execution.arrow.enabled=True is experimental.
 |
 |      >>> l = [('Alice', 1)]
 |      >>> spark.createDataFrame(l).collect()
 |      [Row(_1='Alice', _2=1)]
 |      >>> spark.createDataFrame(l, ['name', 'age']).collect()
 |      [Row(name='Alice', age=1)]
 |
 |      >>> d = [{'name': 'Alice', 'age': 1}]
 |      >>> spark.createDataFrame(d).collect()
 |      [Row(age=1, name='Alice')]
 |
 |      >>> rdd = sc.parallelize(l)
 |      >>> spark.createDataFrame(rdd).collect()
 |      [Row(_1='Alice', _2=1)]
 |      >>> df = spark.createDataFrame(rdd, ['name', 'age'])
 |      >>> df.collect()
 |      [Row(name='Alice', age=1)]
 |
 |      >>> from pyspark.sql import Row
 |      >>> Person = Row('name', 'age')
 |      >>> person = rdd.map(lambda r: Person(*r))
 |      >>> df2 = spark.createDataFrame(person)
 |      >>> df2.collect()
 |      [Row(name='Alice', age=1)]
 |
 |      >>> from pyspark.sql.types import *
 |      >>> schema = StructType([
 |      ...    StructField("name", StringType(), True),
 |      ...    StructField("age", IntegerType(), True)])
 |      >>> df3 = spark.createDataFrame(rdd, schema)
 |      >>> df3.collect()
 |      [Row(name='Alice', age=1)]
 |
 |      >>> spark.createDataFrame(df.toPandas()).collect()  # doctest: +SKIP
 |      [Row(name='Alice', age=1)]
 |      >>> spark.createDataFrame(pandas.DataFrame([[1, 2]])).collect()  # doctest: +SKIP
 |      [Row(0=1, 1=2)]
 |
 |      >>> spark.createDataFrame(rdd, "a: string, b: int").collect()
 |      [Row(a='Alice', b=1)]
 |      >>> rdd = rdd.map(lambda row: row[1])
 |      >>> spark.createDataFrame(rdd, "int").collect()
 |      [Row(value=1)]
 |      >>> spark.createDataFrame(rdd, "boolean").collect() # doctest: +IGNORE_EXCEPTION_DETAIL
 |      Traceback (most recent call last):
 |          ...
 |      Py4JJavaError: ...
 |
 |      .. versionadded:: 2.0
 |
 |  newSession(self)
 |      Returns a new SparkSession as new session, that has separate SQLConf,
 |      registered temporary views and UDFs, but shared SparkContext and
 |      table cache.
 |
 |      .. versionadded:: 2.0
 |
 |  range(self, start, end=None, step=1, numPartitions=None)
 |      Create a :class:`DataFrame` with single :class:`pyspark.sql.types.LongType` column named
 |      ``id``, containing elements in a range from ``start`` to ``end`` (exclusive) with
 |      step value ``step``.
 |
 |      :param start: the start value
 |      :param end: the end value (exclusive)
 |      :param step: the incremental step (default: 1)
 |      :param numPartitions: the number of partitions of the DataFrame
 |      :return: :class:`DataFrame`
 |
 |      >>> spark.range(1, 7, 2).collect()
 |      [Row(id=1), Row(id=3), Row(id=5)]
 |
 |      If only one argument is specified, it will be used as the end value.
 |
 |      >>> spark.range(3).collect()
 |      [Row(id=0), Row(id=1), Row(id=2)]
 |
 |      .. versionadded:: 2.0
 |
 |  sql(self, sqlQuery)
 |      Returns a :class:`DataFrame` representing the result of the given query.
 |
 |      :return: :class:`DataFrame`
 |
 |      >>> df.createOrReplaceTempView("table1")
 |      >>> df2 = spark.sql("SELECT field1 AS f1, field2 as f2 from table1")
 |      >>> df2.collect()
 |      [Row(f1=1, f2='row1'), Row(f1=2, f2='row2'), Row(f1=3, f2='row3')]
 |
 |      .. versionadded:: 2.0
 |
 |  stop(self)
 |      Stop the underlying :class:`SparkContext`.
 |
 |      .. versionadded:: 2.0
 |
 |  table(self, tableName)
 |      Returns the specified table as a :class:`DataFrame`.
 |
 |      :return: :class:`DataFrame`
 |
 |      >>> df.createOrReplaceTempView("table1")
 |      >>> df2 = spark.table("table1")
 |      >>> sorted(df.collect()) == sorted(df2.collect())
 |      True
 |
 |      .. versionadded:: 2.0
 |
 |  ----------------------------------------------------------------------
 |  Data descriptors defined here:
 |
 |  __dict__
 |      dictionary for instance variables (if defined)
 |
 |  __weakref__
 |      list of weak references to the object (if defined)
 |
 |  catalog
 |      Interface through which the user may create, drop, alter or query underlying
 |      databases, tables, functions etc.
 |
 |      :return: :class:`Catalog`
 |
 |      .. versionadded:: 2.0
 |
 |  conf
 |      Runtime configuration interface for Spark.
 |
 |      This is the interface through which the user can get and set all Spark and Hadoop
 |      configurations that are relevant to Spark SQL. When getting the value of a config,
 |      this defaults to the value set in the underlying :class:`SparkContext`, if any.
 |
 |      .. versionadded:: 2.0
 |
 |  read
 |      Returns a :class:`DataFrameReader` that can be used to read data
 |      in as a :class:`DataFrame`.
 |
 |      :return: :class:`DataFrameReader`
 |
 |      .. versionadded:: 2.0
 |
 |  readStream
 |      Returns a :class:`DataStreamReader` that can be used to read data streams
 |      as a streaming :class:`DataFrame`.
 |
 |      .. note:: Evolving.
 |
 |      :return: :class:`DataStreamReader`
 |
 |      .. versionadded:: 2.0
 |
 |  sparkContext
 |      Returns the underlying :class:`SparkContext`.
 |
 |      .. versionadded:: 2.0
 |
 |  streams
 |      Returns a :class:`StreamingQueryManager` that allows managing all the
 |      :class:`StreamingQuery` StreamingQueries active on `this` context.
 |
 |      .. note:: Evolving.
 |
 |      :return: :class:`StreamingQueryManager`
 |
 |      .. versionadded:: 2.0
 |
 |  udf
 |      Returns a :class:`UDFRegistration` for UDF registration.
 |
 |      :return: :class:`UDFRegistration`
 |
 |      .. versionadded:: 2.0
 |
 |  version
 |      The version of Spark on which this application is running.
 |
 |      .. versionadded:: 2.0
 |
 |  ----------------------------------------------------------------------
 |  Data and other attributes defined here:
 |
 |  Builder = <class 'pyspark.sql.session.SparkSession.Builder'>
 |      Builder for :class:`SparkSession`.
 |
 |  builder = <pyspark.sql.session.SparkSession.Builder object>

----
# Checking Spark session options

In [6]:
sc = spark.sparkContext
sc.getConf().getAll()

[('spark.history.kerberos.keytab', 'none'),
 ('spark.eventLog.enabled', 'true'),
 ('spark.driver.appUIAddress', 'http://slalomdsvm:4040'),
 ('spark.history.ui.port', '18081'),
 ('spark.driver.memory', '512M'),
 ('spark.driver.extraLibraryPath',
  '/usr/hdp/current/hadoop-client/lib/native:/usr/hdp/current/hadoop-client/lib/native/Linux-amd64-64'),
 ('spark.history.fs.cleaner.interval', '7d'),
 ('spark.shuffle.io.serverThreads', '128'),
 ('spark.yarn.historyServer.address', 'slalomdsvm:18081'),
 ('spark.ui.proxyBase', '/proxy/application_1596825752622_0008'),
 ('spark.executor.extraLibraryPath',
  '/usr/hdp/current/hadoop-client/lib/native:/usr/hdp/current/hadoop-client/lib/native/Linux-amd64-64'),
 ('spark.sql.streaming.streamingQueryListeners', ''),
 ('spark.sql.statistics.fallBackToHdfs', 'true'),
 ('spark.executorEnv.PYTHONPATH',
  '{{PWD}}/pyspark.zip<CPS>{{PWD}}/py4j-0.10.7-src.zip'),
 ('spark.shuffle.file.buffer', '1m'),
 ('spark.history.provider',
  'org.apache.spark.deploy.history.FsHistoryProvider'),
 ('spark.serializer.objectStreamReset', '100'),
 ('spark.sql.hive.convertMetastoreOrc', 'true'),
 ('spark.yarn.dist.files', ''),
 ('spark.submit.deployMode', 'client'),
 ('spark.sql.autoBroadcastJoinThreshold', '26214400'),
 ('spark.ui.filters',
  'org.apache.hadoop.yarn.server.webproxy.amfilter.AmIpFilter'),
 ('spark.driver.extraClassPath', ''),
 ('spark.eventLog.dir', 'hdfs:///spark2-history/'),
 ('spark.sql.hive.metastore.jars',
  '/usr/hdp/current/spark2-client/standalone-metastore/*'),
 ('spark.yarn.queue', 'default'),
 ('spark.org.apache.hadoop.yarn.server.webproxy.amfilter.AmIpFilter.param.PROXY_HOSTS',
  'slalomdsvm'),
 ('spark.executor.id', 'driver'),
 ('spark.executor.memory', '1G'),
 ('spark.sql.orc.impl', 'native'),
 ('spark.app.name', 'pyspark-shell'),
 ('spark.history.fs.cleaner.enabled', 'true'),
 ('spark.org.apache.hadoop.yarn.server.webproxy.amfilter.AmIpFilter.param.PROXY_URI_BASES',
  'http://slalomdsvm:8088/proxy/application_1596825752622_0008'),
 ('spark.sql.queryExecutionListeners', ''),
 ('spark.app.id', 'application_1596825752622_0008'),
 ('spark.history.fs.logDirectory', 'hdfs:///spark2-history/'),
 ('spark.master', 'yarn'),
 ('spark.io.compression.lz4.blockSize', '128kb'),
 ('spark.driver.host', 'slalomdsvm'),
 ('spark.history.kerberos.principal', 'none'),
 ('spark.history.fs.cleaner.maxAge', '90d'),
 ('spark.rdd.compress', 'True'),
 ('spark.sql.orc.filterPushdown', 'true'),
 ('spark.shuffle.io.backLog', '8192'),
 ('spark.extraListeners', ''),
 ('spark.unsafe.sorter.spill.reader.buffer.size', '1m'),
 ('spark.shuffle.unsafe.file.output.buffer', '5m'),
 ('spark.driver.port', '35953'),
 ('spark.yarn.isPython', 'true'),
 ('spark.executor.cores', '1'),
 ('spark.executor.extraJavaOptions', '-XX:+UseNUMA'),
 ('spark.ui.showConsoleProgress', 'true'),
 ('spark.sql.warehouse.dir', '/apps/spark/warehouse'),
 ('spark.history.store.path', '/var/lib/spark2/shs_db'),
 ('spark.sql.hive.metastore.version', '3.0')]

In [7]:
#import pandas as pd

---
# Create simple dataframes

We will be mostly working with small dataframes to allow us to quickly visualize and check the outcome of the operations we will apply to the dataframes.

In [8]:
col_names = ['id', 'first_name', 'last_name']
rows = [
    (1, 'John', 'Doe'),
    (1, 'John', 'Doe'), 
    (1, 'John', None), 
    (2, 'Jane', 'Doe'),
    (3, 'Herbie', 'Hancock'),
    (4, 'Erin', 'Brockovich'),        
]

df1 = spark.createDataFrame(rows, col_names)

In [9]:
type(df1)

pyspark.sql.dataframe.DataFrame

`number_sox` is the number of individual sox owned by the person with ID `id`.

In [10]:
col_names = ['id', 'number_sox']
rows = [
    (1, 24),
    (2, 30),
    (3, 29),
    (4, 40),        
]

df2 = spark.createDataFrame(rows, col_names)

In [11]:
type(df2)

pyspark.sql.dataframe.DataFrame

See all the methods which can be applie to a Spark dataframe using the `help()` function.

In [12]:
help(pyspark.sql.dataframe.DataFrame)

Help on class DataFrame in module pyspark.sql.dataframe:

class DataFrame(builtins.object)
 |  A distributed collection of data grouped into named columns.
 |
 |  A :class:`DataFrame` is equivalent to a relational table in Spark SQL,
 |  and can be created using various functions in :class:`SparkSession`::
 |
 |      people = spark.read.parquet("...")
 |
 |  Once created, it can be manipulated using the various domain-specific-language
 |  (DSL) functions defined in: :class:`DataFrame`, :class:`Column`.
 |
 |  To select a column from the data frame, use the apply method::
 |
 |      ageCol = people.age
 |
 |  A more concrete example::
 |
 |      # To create DataFrame using SparkSession
 |      people = spark.read.parquet("...")
 |      department = spark.read.parquet("...")
 |
 |      people.filter(people.age > 30).join(department, people.deptId == department.id) \
 |        .groupBy(department.name, "gender").agg({"salary": "avg", "age": "max"})
 |
 |  .. versionadded:: 1.3
 |
 |  Methods defined here:
 |
 |  __getattr__(self, name)
 |      Returns the :class:`Column` denoted by ``name``.
 |
 |      >>> df.select(df.age).collect()
 |      [Row(age=2), Row(age=5)]
 |
 |      .. versionadded:: 1.3
 |
 |  __getitem__(self, item)
 |      Returns the column as a :class:`Column`.
 |
 |      >>> df.select(df['age']).collect()
 |      [Row(age=2), Row(age=5)]
 |      >>> df[ ["name", "age"]].collect()
 |      [Row(name='Alice', age=2), Row(name='Bob', age=5)]
 |      >>> df[ df.age > 3 ].collect()
 |      [Row(age=5, name='Bob')]
 |      >>> df[df[0] > 3].collect()
 |      [Row(age=5, name='Bob')]
 |
 |      .. versionadded:: 1.3
 |
 |  __init__(self, jdf, sql_ctx)
 |      Initialize self.  See help(type(self)) for accurate signature.
 |
 |  __repr__(self)
 |      Return repr(self).
 |
 |  agg(self, *exprs)
 |      Aggregate on the entire :class:`DataFrame` without groups
 |      (shorthand for ``df.groupBy.agg()``).
 |
 |      >>> df.agg({"age": "max"}).collect()
 |      [Row(max(age)=5)]
 |      >>> from pyspark.sql import functions as F
 |      >>> df.agg(F.min(df.age)).collect()
 |      [Row(min(age)=2)]
 |
 |      .. versionadded:: 1.3
 |
 |  alias(self, alias)
 |      Returns a new :class:`DataFrame` with an alias set.
 |
 |      >>> from pyspark.sql.functions import *
 |      >>> df_as1 = df.alias("df_as1")
 |      >>> df_as2 = df.alias("df_as2")
 |      >>> joined_df = df_as1.join(df_as2, col("df_as1.name") == col("df_as2.name"), 'inner')
 |      >>> joined_df.select("df_as1.name", "df_as2.name", "df_as2.age").collect()
 |      [Row(name='Bob', name='Bob', age=5), Row(name='Alice', name='Alice', age=2)]
 |
 |      .. versionadded:: 1.3
 |
 |  approxQuantile(self, col, probabilities, relativeError)
 |      Calculates the approximate quantiles of numerical columns of a
 |      DataFrame.
 |
 |      The result of this algorithm has the following deterministic bound:
 |      If the DataFrame has N elements and if we request the quantile at
 |      probability `p` up to error `err`, then the algorithm will return
 |      a sample `x` from the DataFrame so that the *exact* rank of `x` is
 |      close to (p * N). More precisely,
 |
 |        floor((p - err) * N) <= rank(x) <= ceil((p + err) * N).
 |
 |      This method implements a variation of the Greenwald-Khanna
 |      algorithm (with some speed optimizations). The algorithm was first
 |      present in [[http://dx.doi.org/10.1145/375663.375670
 |      Space-efficient Online Computation of Quantile Summaries]]
 |      by Greenwald and Khanna.
 |
 |      Note that null values will be ignored in numerical columns before calculation.
 |      For columns only containing null values, an empty list is returned.
 |
 |      :param col: str, list.
 |        Can be a single column name, or a list of names for multiple columns.
 |      :param probabilities: a list of quantile probabilities
 |        Each number must belong to [0, 1].
 |        For example 0 is the minimum, 0.5 is the median, 1 is the maximum.
 |      :param relativeError:  The relative target precision to achieve
 |        (>= 0). If set to zero, the exact quantiles are computed, which
 |        could be very expensive. Note that values greater than 1 are
 |        accepted but give the same result as 1.
 |      :return:  the approximate quantiles at the given probabilities. If
 |        the input `col` is a string, the output is a list of floats. If the
 |        input `col` is a list or tuple of strings, the output is also a
 |        list, but each element in it is a list of floats, i.e., the output
 |        is a list of list of floats.
 |
 |      .. versionchanged:: 2.2
 |         Added support for multiple columns.
 |
 |      .. versionadded:: 2.0
 |
 |  cache(self)
 |      Persists the :class:`DataFrame` with the default storage level (C{MEMORY_AND_DISK}).
 |
 |      .. note:: The default storage level has changed to C{MEMORY_AND_DISK} to match Scala in 2.0.
 |
 |      .. versionadded:: 1.3
 |
 |  checkpoint(self, eager=True)
 |      Returns a checkpointed version of this Dataset. Checkpointing can be used to truncate the
 |      logical plan of this DataFrame, which is especially useful in iterative algorithms where the
 |      plan may grow exponentially. It will be saved to files inside the checkpoint
 |      directory set with L{SparkContext.setCheckpointDir()}.
 |
 |      :param eager: Whether to checkpoint this DataFrame immediately
 |
 |      .. note:: Experimental
 |
 |      .. versionadded:: 2.1
 |
 |  coalesce(self, numPartitions)
 |      Returns a new :class:`DataFrame` that has exactly `numPartitions` partitions.
 |
 |      Similar to coalesce defined on an :class:`RDD`, this operation results in a
 |      narrow dependency, e.g. if you go from 1000 partitions to 100 partitions,
 |      there will not be a shuffle, instead each of the 100 new partitions will
 |      claim 10 of the current partitions. If a larger number of partitions is requested,
 |      it will stay at the current number of partitions.
 |
 |      However, if you're doing a drastic coalesce, e.g. to numPartitions = 1,
 |      this may result in your computation taking place on fewer nodes than
 |      you like (e.g. one node in the case of numPartitions = 1). To avoid this,
 |      you can call repartition(). This will add a shuffle step, but means the
 |      current upstream partitions will be executed in parallel (per whatever
 |      the current partitioning is).
 |
 |      >>> df.coalesce(1).rdd.getNumPartitions()
 |      1
 |
 |      .. versionadded:: 1.4
 |
 |  colRegex(self, colName)
 |      Selects column based on the column name specified as a regex and returns it
 |      as :class:`Column`.
 |
 |      :param colName: string, column name specified as a regex.
 |
 |      >>> df = spark.createDataFrame([("a", 1), ("b", 2), ("c",  3)], ["Col1", "Col2"])
 |      >>> df.select(df.colRegex("`(Col1)?+.+`")).show()
 |      +----+
 |      |Col2|
 |      +----+
 |      |   1|
 |      |   2|
 |      |   3|
 |      +----+
 |
 |      .. versionadded:: 2.3
 |
 |  collect(self)
 |      Returns all the records as a list of :class:`Row`.
 |
 |      >>> df.collect()
 |      [Row(age=2, name='Alice'), Row(age=5, name='Bob')]
 |
 |      .. versionadded:: 1.3
 |
 |  corr(self, col1, col2, method=None)
 |      Calculates the correlation of two columns of a DataFrame as a double value.
 |      Currently only supports the Pearson Correlation Coefficient.
 |      :func:`DataFrame.corr` and :func:`DataFrameStatFunctions.corr` are aliases of each other.
 |
 |      :param col1: The name of the first column
 |      :param col2: The name of the second column
 |      :param method: The correlation method. Currently only supports "pearson"
 |
 |      .. versionadded:: 1.4
 |
 |  count(self)
 |      Returns the number of rows in this :class:`DataFrame`.
 |
 |      >>> df.count()
 |      2
 |
 |      .. versionadded:: 1.3
 |
 |  cov(self, col1, col2)
 |      Calculate the sample covariance for the given columns, specified by their names, as a
 |      double value. :func:`DataFrame.cov` and :func:`DataFrameStatFunctions.cov` are aliases.
 |
 |      :param col1: The name of the first column
 |      :param col2: The name of the second column
 |
 |      .. versionadded:: 1.4
 |
 |  createGlobalTempView(self, name)
 |      Creates a global temporary view with this DataFrame.
 |
 |      The lifetime of this temporary view is tied to this Spark application.
 |      throws :class:`TempTableAlreadyExistsException`, if the view name already exists in the
 |      catalog.
 |
 |      >>> df.createGlobalTempView("people")
 |      >>> df2 = spark.sql("select * from global_temp.people")
 |      >>> sorted(df.collect()) == sorted(df2.collect())
 |      True
 |      >>> df.createGlobalTempView("people")  # doctest: +IGNORE_EXCEPTION_DETAIL
 |      Traceback (most recent call last):
 |      ...
 |      AnalysisException: u"Temporary table 'people' already exists;"
 |      >>> spark.catalog.dropGlobalTempView("people")
 |
 |      .. versionadded:: 2.1
 |
 |  createOrReplaceGlobalTempView(self, name)
 |      Creates or replaces a global temporary view using the given name.
 |
 |      The lifetime of this temporary view is tied to this Spark application.
 |
 |      >>> df.createOrReplaceGlobalTempView("people")
 |      >>> df2 = df.filter(df.age > 3)
 |      >>> df2.createOrReplaceGlobalTempView("people")
 |      >>> df3 = spark.sql("select * from global_temp.people")
 |      >>> sorted(df3.collect()) == sorted(df2.collect())
 |      True
 |      >>> spark.catalog.dropGlobalTempView("people")
 |
 |      .. versionadded:: 2.2
 |
 |  createOrReplaceTempView(self, name)
 |      Creates or replaces a local temporary view with this DataFrame.
 |
 |      The lifetime of this temporary table is tied to the :class:`SparkSession`
 |      that was used to create this :class:`DataFrame`.
 |
 |      >>> df.createOrReplaceTempView("people")
 |      >>> df2 = df.filter(df.age > 3)
 |      >>> df2.createOrReplaceTempView("people")
 |      >>> df3 = spark.sql("select * from people")
 |      >>> sorted(df3.collect()) == sorted(df2.collect())
 |      True
 |      >>> spark.catalog.dropTempView("people")
 |
 |      .. versionadded:: 2.0
 |
 |  createTempView(self, name)
 |      Creates a local temporary view with this DataFrame.
 |
 |      The lifetime of this temporary table is tied to the :class:`SparkSession`
 |      that was used to create this :class:`DataFrame`.
 |      throws :class:`TempTableAlreadyExistsException`, if the view name already exists in the
 |      catalog.
 |
 |      >>> df.createTempView("people")
 |      >>> df2 = spark.sql("select * from people")
 |      >>> sorted(df.collect()) == sorted(df2.collect())
 |      True
 |      >>> df.createTempView("people")  # doctest: +IGNORE_EXCEPTION_DETAIL
 |      Traceback (most recent call last):
 |      ...
 |      AnalysisException: u"Temporary table 'people' already exists;"
 |      >>> spark.catalog.dropTempView("people")
 |
 |      .. versionadded:: 2.0
 |
 |  crossJoin(self, other)
 |      Returns the cartesian product with another :class:`DataFrame`.
 |
 |      :param other: Right side of the cartesian product.
 |
 |      >>> df.select("age", "name").collect()
 |      [Row(age=2, name='Alice'), Row(age=5, name='Bob')]
 |      >>> df2.select("name", "height").collect()
 |      [Row(name='Tom', height=80), Row(name='Bob', height=85)]
 |      >>> df.crossJoin(df2.select("height")).select("age", "name", "height").collect()
 |      [Row(age=2, name='Alice', height=80), Row(age=2, name='Alice', height=85),
 |       Row(age=5, name='Bob', height=80), Row(age=5, name='Bob', height=85)]
 |
 |      .. versionadded:: 2.1
 |
 |  crosstab(self, col1, col2)
 |      Computes a pair-wise frequency table of the given columns. Also known as a contingency
 |      table. The number of distinct values for each column should be less than 1e4. At most 1e6
 |      non-zero pair frequencies will be returned.
 |      The first column of each row will be the distinct values of `col1` and the column names
 |      will be the distinct values of `col2`. The name of the first column will be `$col1_$col2`.
 |      Pairs that have no occurrences will have zero as their counts.
 |      :func:`DataFrame.crosstab` and :func:`DataFrameStatFunctions.crosstab` are aliases.
 |
 |      :param col1: The name of the first column. Distinct items will make the first item of
 |          each row.
 |      :param col2: The name of the second column. Distinct items will make the column names
 |          of the DataFrame.
 |
 |      .. versionadded:: 1.4
 |
 |  cube(self, *cols)
 |      Create a multi-dimensional cube for the current :class:`DataFrame` using
 |      the specified columns, so we can run aggregation on them.
 |
 |      >>> df.cube("name", df.age).count().orderBy("name", "age").show()
 |      +-----+----+-----+
 |      | name| age|count|
 |      +-----+----+-----+
 |      | null|null|    2|
 |      | null|   2|    1|
 |      | null|   5|    1|
 |      |Alice|null|    1|
 |      |Alice|   2|    1|
 |      |  Bob|null|    1|
 |      |  Bob|   5|    1|
 |      +-----+----+-----+
 |
 |      .. versionadded:: 1.4
 |
 |  describe(self, *cols)
 |      Computes basic statistics for numeric and string columns.
 |
 |      This include count, mean, stddev, min, and max. If no columns are
 |      given, this function computes statistics for all numerical or string columns.
 |
 |      .. note:: This function is meant for exploratory data analysis, as we make no
 |          guarantee about the backward compatibility of the schema of the resulting DataFrame.
 |
 |      >>> df.describe(['age']).show()
 |      +-------+------------------+
 |      |summary|               age|
 |      +-------+------------------+
 |      |  count|                 2|
 |      |   mean|               3.5|
 |      | stddev|2.1213203435596424|
 |      |    min|                 2|
 |      |    max|                 5|
 |      +-------+------------------+
 |      >>> df.describe().show()
 |      +-------+------------------+-----+
 |      |summary|               age| name|
 |      +-------+------------------+-----+
 |      |  count|                 2|    2|
 |      |   mean|               3.5| null|
 |      | stddev|2.1213203435596424| null|
 |      |    min|                 2|Alice|
 |      |    max|                 5|  Bob|
 |      +-------+------------------+-----+
 |
 |      Use summary for expanded statistics and control over which statistics to compute.
 |
 |      .. versionadded:: 1.3.1
 |
 |  distinct(self)
 |      Returns a new :class:`DataFrame` containing the distinct rows in this :class:`DataFrame`.
 |
 |      >>> df.distinct().count()
 |      2
 |
 |      .. versionadded:: 1.3
 |
 |  drop(self, *cols)
 |      Returns a new :class:`DataFrame` that drops the specified column.
 |      This is a no-op if schema doesn't contain the given column name(s).
 |
 |      :param cols: a string name of the column to drop, or a
 |          :class:`Column` to drop, or a list of string name of the columns to drop.
 |
 |      >>> df.drop('age').collect()
 |      [Row(name='Alice'), Row(name='Bob')]
 |
 |      >>> df.drop(df.age).collect()
 |      [Row(name='Alice'), Row(name='Bob')]
 |
 |      >>> df.join(df2, df.name == df2.name, 'inner').drop(df.name).collect()
 |      [Row(age=5, height=85, name='Bob')]
 |
 |      >>> df.join(df2, df.name == df2.name, 'inner').drop(df2.name).collect()
 |      [Row(age=5, name='Bob', height=85)]
 |
 |      >>> df.join(df2, 'name', 'inner').drop('age', 'height').collect()
 |      [Row(name='Bob')]
 |
 |      .. versionadded:: 1.4
 |
 |  dropDuplicates(self, subset=None)
 |      Return a new :class:`DataFrame` with duplicate rows removed,
 |      optionally only considering certain columns.
 |
 |      For a static batch :class:`DataFrame`, it just drops duplicate rows. For a streaming
 |      :class:`DataFrame`, it will keep all data across triggers as intermediate state to drop
 |      duplicates rows. You can use :func:`withWatermark` to limit how late the duplicate data can
 |      be and system will accordingly limit the state. In addition, too late data older than
 |      watermark will be dropped to avoid any possibility of duplicates.
 |
 |      :func:`drop_duplicates` is an alias for :func:`dropDuplicates`.
 |
 |      >>> from pyspark.sql import Row
 |      >>> df = sc.parallelize([ \
 |      ...     Row(name='Alice', age=5, height=80), \
 |      ...     Row(name='Alice', age=5, height=80), \
 |      ...     Row(name='Alice', age=10, height=80)]).toDF()
 |      >>> df.dropDuplicates().show()
 |      +---+------+-----+
 |      |age|height| name|
 |      +---+------+-----+
 |      |  5|    80|Alice|
 |      | 10|    80|Alice|
 |      +---+------+-----+
 |
 |      >>> df.dropDuplicates(['name', 'height']).show()
 |      +---+------+-----+
 |      |age|height| name|
 |      +---+------+-----+
 |      |  5|    80|Alice|
 |      +---+------+-----+
 |
 |      .. versionadded:: 1.4
 |
 |  drop_duplicates = dropDuplicates(self, subset=None)
 |      :func:`drop_duplicates` is an alias for :func:`dropDuplicates`.
 |
 |      .. versionadded:: 1.4
 |
 |  dropna(self, how='any', thresh=None, subset=None)
 |      Returns a new :class:`DataFrame` omitting rows with null values.
 |      :func:`DataFrame.dropna` and :func:`DataFrameNaFunctions.drop` are aliases of each other.
 |
 |      :param how: 'any' or 'all'.
 |          If 'any', drop a row if it contains any nulls.
 |          If 'all', drop a row only if all its values are null.
 |      :param thresh: int, default None
 |          If specified, drop rows that have less than `thresh` non-null values.
 |          This overwrites the `how` parameter.
 |      :param subset: optional list of column names to consider.
 |
 |      >>> df4.na.drop().show()
 |      +---+------+-----+
 |      |age|height| name|
 |      +---+------+-----+
 |      | 10|    80|Alice|
 |      +---+------+-----+
 |
 |      .. versionadded:: 1.3.1
 |
 |  explain(self, extended=False)
 |      Prints the (logical and physical) plans to the console for debugging purpose.
 |
 |      :param extended: boolean, default ``False``. If ``False``, prints only the physical plan.
 |
 |      >>> df.explain()
 |      == Physical Plan ==
 |      Scan ExistingRDD[age#0,name#1]
 |
 |      >>> df.explain(True)
 |      == Parsed Logical Plan ==
 |      ...
 |      == Analyzed Logical Plan ==
 |      ...
 |      == Optimized Logical Plan ==
 |      ...
 |      == Physical Plan ==
 |      ...
 |
 |      .. versionadded:: 1.3
 |
 |  fillna(self, value, subset=None)
 |      Replace null values, alias for ``na.fill()``.
 |      :func:`DataFrame.fillna` and :func:`DataFrameNaFunctions.fill` are aliases of each other.
 |
 |      :param value: int, long, float, string, bool or dict.
 |          Value to replace null values with.
 |          If the value is a dict, then `subset` is ignored and `value` must be a mapping
 |          from column name (string) to replacement value. The replacement value must be
 |          an int, long, float, boolean, or string.
 |      :param subset: optional list of column names to consider.
 |          Columns specified in subset that do not have matching data type are ignored.
 |          For example, if `value` is a string, and subset contains a non-string column,
 |          then the non-string column is simply ignored.
 |
 |      >>> df4.na.fill(50).show()
 |      +---+------+-----+
 |      |age|height| name|
 |      +---+------+-----+
 |      | 10|    80|Alice|
 |      |  5|    50|  Bob|
 |      | 50|    50|  Tom|
 |      | 50|    50| null|
 |      +---+------+-----+
 |
 |      >>> df5.na.fill(False).show()
 |      +----+-------+-----+
 |      | age|   name|  spy|
 |      +----+-------+-----+
 |      |  10|  Alice|false|
 |      |   5|    Bob|false|
 |      |null|Mallory| true|
 |      +----+-------+-----+
 |

---
# Printing the dataframe schema

## Question

Use the method `.printSchema()` to see the schema of dataframes `df1` and `df2`.

In [13]:
help(pyspark.sql.dataframe.DataFrame.printSchema)

Help on function printSchema in module pyspark.sql.dataframe:

printSchema(self)
    Prints out the schema in the tree format.

    >>> df.printSchema()
    root
     |-- age: integer (nullable = true)
     |-- name: string (nullable = true)
    <BLANKLINE>

    .. versionadded:: 1.3

## Your answer

## Solution

In [14]:
df1.printSchema()

root
 |-- id: long (nullable = true)
 |-- first_name: string (nullable = true)
 |-- last_name: string (nullable = true)

In [15]:
df2.printSchema()

root
 |-- id: long (nullable = true)
 |-- number_sox: long (nullable = true)

---
# Printing the first dataframe rows

## Question
Use the method `show()` to see the rows of `df1` and `df2`.

In [16]:
help(pyspark.sql.dataframe.DataFrame.show)

Help on function show in module pyspark.sql.dataframe:

show(self, n=20, truncate=True, vertical=False)
    Prints the first ``n`` rows to the console.

    :param n: Number of rows to show.
    :param truncate: If set to True, truncate strings longer than 20 chars by default.
        If set to a number greater than one, truncates long strings to length ``truncate``
        and align cells right.
    :param vertical: If set to True, print output rows vertically (one line
        per column value).

    >>> df
    DataFrame[age: int, name: string]
    >>> df.show()
    +---+-----+
    |age| name|
    +---+-----+
    |  2|Alice|
    |  5|  Bob|
    +---+-----+
    >>> df.show(truncate=3)
    +---+----+
    |age|name|
    +---+----+
    |  2| Ali|
    |  5| Bob|
    +---+----+
    >>> df.show(vertical=True)
    -RECORD 0-----
     age  | 2
     name | Alice
    -RECORD 1-----
     age  | 5
     name | Bob

    .. versionadded:: 1.3

##  Your answer

## Solution

Notes:

  * Asking for `df1` only shows the reference to the object. This is beacuse of Spark's lazy evaluation: the dataframe has not been created yet (`createDataFrame()` is a transformation).
  * The dataframe will only be created when we apply an action to it like `show()`.
  * Note the difference in duration between `df1` and `df1.show()`.

In [17]:
df1

DataFrame[id: bigint, first_name: string, last_name: string]

In [18]:
df1.show()

+---+----------+----------+
| id|first_name| last_name|
+---+----------+----------+
|  1|      John|       Doe|
|  1|      John|       Doe|
|  1|      John|      null|
|  2|      Jane|       Doe|
|  3|    Herbie|   Hancock|
|  4|      Erin|Brockovich|
+---+----------+----------+

In [19]:
df2

DataFrame[id: bigint, number_sox: bigint]

In [20]:
df2.show()

+---+----------+
| id|number_sox|
+---+----------+
|  1|        24|
|  2|        30|
|  3|        29|
|  4|        40|
+---+----------+

----------
# Joining dataframes

## Question
Use the method `join()` to inner-join `df1` and `df2` on column `id`.

Put the resulting dataframe in `joined_df`.

In [21]:
help(pyspark.sql.dataframe.DataFrame.join)

Help on function join in module pyspark.sql.dataframe:

join(self, other, on=None, how=None)
    Joins with another :class:`DataFrame`, using the given join expression.

    :param other: Right side of the join
    :param on: a string for the join column name, a list of column names,
        a join expression (Column), or a list of Columns.
        If `on` is a string or a list of strings indicating the name of the join column(s),
        the column(s) must exist on both sides, and this performs an equi-join.
    :param how: str, default ``inner``. Must be one of: ``inner``, ``cross``, ``outer``,
        ``full``, ``full_outer``, ``left``, ``left_outer``, ``right``, ``right_outer``,
        ``left_semi``, and ``left_anti``.

    The following performs a full outer join between ``df1`` and ``df2``.

    >>> df.join(df2, df.name == df2.name, 'outer').select(df.name, df2.height).collect()
    [Row(name=None, height=80), Row(name='Bob', height=85), Row(name='Alice', height=None)]

    >>> df.join(df2, 'name', 'outer').select('name', 'height').collect()
    [Row(name='Tom', height=80), Row(name='Bob', height=85), Row(name='Alice', height=None)]

    >>> cond = [df.name == df3.name, df.age == df3.age]
    >>> df.join(df3, cond, 'outer').select(df.name, df3.age).collect()
    [Row(name='Alice', age=2), Row(name='Bob', age=5)]

    >>> df.join(df2, 'name').select(df.name, df2.height).collect()
    [Row(name='Bob', height=85)]

    >>> df.join(df4, ['name', 'age']).select(df.name, df.age).collect()
    [Row(name='Bob', age=5)]

    .. versionadded:: 1.3

##  Your answer

## Solution

In [22]:
joined_df = df1.join(df2, 'id', how = 'inner')

joined_df.show()

+---+----------+----------+----------+
| id|first_name| last_name|number_sox|
+---+----------+----------+----------+
|  1|      John|       Doe|        24|
|  1|      John|       Doe|        24|
|  1|      John|      null|        24|
|  3|    Herbie|   Hancock|        29|
|  2|      Jane|       Doe|        30|
|  4|      Erin|Brockovich|        40|
+---+----------+----------+----------+

---
# Keeping distinct values

## Question
Use the method `distinct()` to keep unique rows only in `joined_df`.

Put the resulting dataframe in `distinct_df`.

In [23]:
help(pyspark.sql.dataframe.DataFrame.distinct)

Help on function distinct in module pyspark.sql.dataframe:

distinct(self)
    Returns a new :class:`DataFrame` containing the distinct rows in this :class:`DataFrame`.

    >>> df.distinct().count()
    2

    .. versionadded:: 1.3

##  Your answer

## Solution

In [24]:
distinct_df = joined_df.distinct() \

distinct_df.show()

+---+----------+----------+----------+
| id|first_name| last_name|number_sox|
+---+----------+----------+----------+
|  1|      John|       Doe|        24|
|  1|      John|      null|        24|
|  3|    Herbie|   Hancock|        29|
|  2|      Jane|       Doe|        30|
|  4|      Erin|Brockovich|        40|
+---+----------+----------+----------+

---
# Removing rows containing `null` values

## Question
Use the method `dropna()` to remove rows containing `null` values in `distinct_df`.
Put the resulting dataframe in `df`.

In [25]:
help(pyspark.sql.dataframe.DataFrame.dropna)

Help on function dropna in module pyspark.sql.dataframe:

dropna(self, how='any', thresh=None, subset=None)
    Returns a new :class:`DataFrame` omitting rows with null values.
    :func:`DataFrame.dropna` and :func:`DataFrameNaFunctions.drop` are aliases of each other.

    :param how: 'any' or 'all'.
        If 'any', drop a row if it contains any nulls.
        If 'all', drop a row only if all its values are null.
    :param thresh: int, default None
        If specified, drop rows that have less than `thresh` non-null values.
        This overwrites the `how` parameter.
    :param subset: optional list of column names to consider.

    >>> df4.na.drop().show()
    +---+------+-----+
    |age|height| name|
    +---+------+-----+
    | 10|    80|Alice|
    +---+------+-----+

    .. versionadded:: 1.3.1

##  Your answer

## Solution

In [26]:
df = distinct_df.dropna()

df.show()

+---+----------+----------+----------+
| id|first_name| last_name|number_sox|
+---+----------+----------+----------+
|  1|      John|       Doe|        24|
|  3|    Herbie|   Hancock|        29|
|  2|      Jane|       Doe|        30|
|  4|      Erin|Brockovich|        40|
+---+----------+----------+----------+

---
# Selecting columns

## Question
Use the method `select()` to select the columns `id` and `first_name` from `df`.

Put the resulting dataframe in `selected_df`.

In [27]:
help(pyspark.sql.dataframe.DataFrame.select)

Help on function select in module pyspark.sql.dataframe:

select(self, *cols)
    Projects a set of expressions and returns a new :class:`DataFrame`.

    :param cols: list of column names (string) or expressions (:class:`Column`).
        If one of the column names is '*', that column is expanded to include all columns
        in the current DataFrame.

    >>> df.select('*').collect()
    [Row(age=2, name='Alice'), Row(age=5, name='Bob')]
    >>> df.select('name', 'age').collect()
    [Row(name='Alice', age=2), Row(name='Bob', age=5)]
    >>> df.select(df.name, (df.age + 10).alias('age')).collect()
    [Row(name='Alice', age=12), Row(name='Bob', age=15)]

    .. versionadded:: 1.3

##  Your answer

## Solution

In [28]:
selected_df = df.select('id', 'first_name')

selected_df.show()

+---+----------+
| id|first_name|
+---+----------+
|  1|      John|
|  3|    Herbie|
|  2|      Jane|
|  4|      Erin|
+---+----------+

Note: You can get a column object with:

In [29]:
df.id

Column<b'id'>

---
# Filtering rows

## Question
Use the method `filter()` to keep only the rows from `df` where `number_sox <= 25)` OR `number_sox >= 35`.

Put the resulting dataframe in `filtered_df`.

In [30]:
help(pyspark.sql.dataframe.DataFrame.filter)

Help on function filter in module pyspark.sql.dataframe:

filter(self, condition)
    Filters rows using the given condition.

    :func:`where` is an alias for :func:`filter`.

    :param condition: a :class:`Column` of :class:`types.BooleanType`
        or a string of SQL expression.

    >>> df.filter(df.age > 3).collect()
    [Row(age=5, name='Bob')]
    >>> df.where(df.age == 2).collect()
    [Row(age=2, name='Alice')]

    >>> df.filter("age > 3").collect()
    [Row(age=5, name='Bob')]
    >>> df.where("age = 2").collect()
    [Row(age=2, name='Alice')]

    .. versionadded:: 1.3

##  Your answer

## Solution

In [31]:
filtered_df = df.filter((df.number_sox <= 25) | (df.number_sox >= 35))

filtered_df.show()

+---+----------+----------+----------+
| id|first_name| last_name|number_sox|
+---+----------+----------+----------+
|  1|      John|       Doe|        24|
|  4|      Erin|Brockovich|        40|
+---+----------+----------+----------+

---
# Randomizing rows

## Question
Using the functions `orderBy` and `rand()`, randomize the order of the dataframe rows.

Ensure the results of the randomization operation are reproducible.

Put the resulting dataframe in `randomized_df`.

In [32]:
help(pyspark.sql.dataframe.DataFrame.orderBy)

Help on function sort in module pyspark.sql.dataframe:

sort(self, *cols, **kwargs)
    Returns a new :class:`DataFrame` sorted by the specified column(s).

    :param cols: list of :class:`Column` or column names to sort by.
    :param ascending: boolean or list of boolean (default True).
        Sort ascending vs. descending. Specify list for multiple sort orders.
        If a list is specified, length of the list must equal length of the `cols`.

    >>> df.sort(df.age.desc()).collect()
    [Row(age=5, name='Bob'), Row(age=2, name='Alice')]
    >>> df.sort("age", ascending=False).collect()
    [Row(age=5, name='Bob'), Row(age=2, name='Alice')]
    >>> df.orderBy(df.age.desc()).collect()
    [Row(age=5, name='Bob'), Row(age=2, name='Alice')]
    >>> from pyspark.sql.functions import *
    >>> df.sort(asc("age")).collect()
    [Row(age=2, name='Alice'), Row(age=5, name='Bob')]
    >>> df.orderBy(desc("age"), "name").collect()
    [Row(age=5, name='Bob'), Row(age=2, name='Alice')]
    >>> df.orderBy(["age", "name"], ascending=[0, 1]).collect()
    [Row(age=5, name='Bob'), Row(age=2, name='Alice')]

    .. versionadded:: 1.3

In [33]:
from pyspark.sql.functions import rand
help(pyspark.sql.functions.rand)

Help on function rand in module pyspark.sql.functions:

rand(seed=None)
    Generates a random column with independent and identically distributed (i.i.d.) samples
    from U[0.0, 1.0].

    >>> df.withColumn('rand', rand(seed=42) * 3).collect()
    [Row(age=2, name='Alice', rand=1.1568609015300986),
     Row(age=5, name='Bob', rand=1.403379671529166)]

    .. versionadded:: 1.4

##  Your answer

## Solution

In [34]:
from pyspark.sql.functions import rand

randomized_df = df.orderBy(rand(seed=1234))
randomized_df.show()

+---+----------+----------+----------+
| id|first_name| last_name|number_sox|
+---+----------+----------+----------+
|  2|      Jane|       Doe|        30|
|  1|      John|       Doe|        24|
|  3|    Herbie|   Hancock|        29|
|  4|      Erin|Brockovich|        40|
+---+----------+----------+----------+

---
# Ordering rows

## Question
Using the functions `orderBy`, `asc()` and `desc()`, order the dataframe rows:

 * ascending by `id`.
 * ascending by `last_name`, `number_sox`.
 * ascending by `last_name` and decending by `number_sox`.

In [35]:
help(pyspark.sql.dataframe.DataFrame.orderBy)

Help on function sort in module pyspark.sql.dataframe:

sort(self, *cols, **kwargs)
    Returns a new :class:`DataFrame` sorted by the specified column(s).

    :param cols: list of :class:`Column` or column names to sort by.
    :param ascending: boolean or list of boolean (default True).
        Sort ascending vs. descending. Specify list for multiple sort orders.
        If a list is specified, length of the list must equal length of the `cols`.

    >>> df.sort(df.age.desc()).collect()
    [Row(age=5, name='Bob'), Row(age=2, name='Alice')]
    >>> df.sort("age", ascending=False).collect()
    [Row(age=5, name='Bob'), Row(age=2, name='Alice')]
    >>> df.orderBy(df.age.desc()).collect()
    [Row(age=5, name='Bob'), Row(age=2, name='Alice')]
    >>> from pyspark.sql.functions import *
    >>> df.sort(asc("age")).collect()
    [Row(age=2, name='Alice'), Row(age=5, name='Bob')]
    >>> df.orderBy(desc("age"), "name").collect()
    [Row(age=5, name='Bob'), Row(age=2, name='Alice')]
    >>> df.orderBy(["age", "name"], ascending=[0, 1]).collect()
    [Row(age=5, name='Bob'), Row(age=2, name='Alice')]

    .. versionadded:: 1.3

In [36]:
help(pyspark.sql.functions.asc)

Help on function asc in module pyspark.sql.functions:

asc(col)
    Returns a sort expression based on the ascending order of the given column name.

    .. versionadded:: 1.3

In [37]:
help(pyspark.sql.functions.desc)

Help on function desc in module pyspark.sql.functions:

desc(col)
    Returns a sort expression based on the descending order of the given column name.

    .. versionadded:: 1.3

## Your answer

In [38]:
# Ascending by id

In [39]:
# Ascending by last_name, number_sox

In [40]:
# Ascending by last_name and decending by number_sox

## Solution

Note: `orderBy()` will produce an ascending ordering by default.

In [41]:
from pyspark.sql.functions import asc

randomized_df \
.orderBy(asc('id')) \
.show()

+---+----------+----------+----------+
| id|first_name| last_name|number_sox|
+---+----------+----------+----------+
|  1|      John|       Doe|        24|
|  2|      Jane|       Doe|        30|
|  3|    Herbie|   Hancock|        29|
|  4|      Erin|Brockovich|        40|
+---+----------+----------+----------+

In [42]:
randomized_df \
.orderBy('id') \
.show()

+---+----------+----------+----------+
| id|first_name| last_name|number_sox|
+---+----------+----------+----------+
|  1|      John|       Doe|        24|
|  2|      Jane|       Doe|        30|
|  3|    Herbie|   Hancock|        29|
|  4|      Erin|Brockovich|        40|
+---+----------+----------+----------+

In [43]:
randomized_df \
.orderBy('last_name', 'number_sox') \
.show()

+---+----------+----------+----------+
| id|first_name| last_name|number_sox|
+---+----------+----------+----------+
|  4|      Erin|Brockovich|        40|
|  1|      John|       Doe|        24|
|  2|      Jane|       Doe|        30|
|  3|    Herbie|   Hancock|        29|
+---+----------+----------+----------+

In [44]:
from pyspark.sql.functions import desc

randomized_df \
.orderBy('last_name', desc('number_sox')) \
.show()

+---+----------+----------+----------+
| id|first_name| last_name|number_sox|
+---+----------+----------+----------+
|  4|      Erin|Brockovich|        40|
|  2|      Jane|       Doe|        30|
|  1|      John|       Doe|        24|
|  3|    Herbie|   Hancock|        29|
+---+----------+----------+----------+

---
# Row-wise operations ("Lamda" functions) and User Defined Functions (UDFs)


We are now going to see how to implement row-wise operations on a Spark dataframe (equivalent to Pandas lambda functions). This requires to define either a "regular" function or a lambda function via a User Defined Function (UDF) and then apply the UDF to all the dataframe rows.

## Question
Define a regular function which:

 1. Takes the total number of individual sock as input.
 2. Divides that number by 2 and floors it to get an integer number of pairs of complete sox.
 3. Returns the number of pairs of sox.

Then create a UDF from this function using the function `udf()` (the type of the values returned by the UDF must be `IntegerType`).

Finally apply the UDF to the dataframe `df` to add a new column (`number_sox_pair`) containing the number of complete pairs of sox. Put the resulting dataframe in `df_with_pairs`.

Once this is working, repeat using a `lambda` function instead of a "regular" function.

In [45]:
help(pyspark.sql.functions.udf)

Help on function udf in module pyspark.sql.functions:

udf(f=None, returnType=StringType)
    Creates a user defined function (UDF).

    .. note:: The user-defined functions are considered deterministic by default. Due to
        optimization, duplicate invocations may be eliminated or the function may even be invoked
        more times than it is present in the query. If your function is not deterministic, call
        `asNondeterministic` on the user defined function. E.g.:

    >>> from pyspark.sql.types import IntegerType
    >>> import random
    >>> random_udf = udf(lambda: int(random.random() * 100), IntegerType()).asNondeterministic()

    .. note:: The user-defined functions do not support conditional expressions or short circuiting
        in boolean expressions and it ends up with being executed all internally. If the functions
        can fail on special rows, the workaround is to incorporate the condition into the functions.

    .. note:: The user-defined functions do not take keyword arguments on the calling side.

    :param f: python function if used as a standalone function
    :param returnType: the return type of the user-defined function. The value can be either a
        :class:`pyspark.sql.types.DataType` object or a DDL-formatted type string.

    >>> from pyspark.sql.types import IntegerType
    >>> slen = udf(lambda s: len(s), IntegerType())
    >>> @udf
    ... def to_upper(s):
    ...     if s is not None:
    ...         return s.upper()
    ...
    >>> @udf(returnType=IntegerType())
    ... def add_one(x):
    ...     if x is not None:
    ...         return x + 1
    ...
    >>> df = spark.createDataFrame([(1, "John Doe", 21)], ("id", "name", "age"))
    >>> df.select(slen("name").alias("slen(name)"), to_upper("name"), add_one("age")).show()
    +----------+--------------+------------+
    |slen(name)|to_upper(name)|add_one(age)|
    +----------+--------------+------------+
    |         8|      JOHN DOE|          22|
    +----------+--------------+------------+

    .. versionadded:: 1.3

In [46]:
help(pyspark.sql.types.IntegerType)

Help on class IntegerType in module pyspark.sql.types:

class IntegerType(IntegralType)
 |  Int data type, i.e. a signed 32-bit integer.
 |
 |  Method resolution order:
 |      IntegerType
 |      IntegralType
 |      NumericType
 |      AtomicType
 |      DataType
 |      builtins.object
 |
 |  Methods defined here:
 |
 |  simpleString(self)
 |
 |  ----------------------------------------------------------------------
 |  Data and other attributes inherited from IntegralType:
 |
 |  __metaclass__ = <class 'pyspark.sql.types.DataTypeSingleton'>
 |      Metaclass for DataType
 |
 |  ----------------------------------------------------------------------
 |  Methods inherited from DataType:
 |
 |  __eq__(self, other)
 |      Return self==value.
 |
 |  __hash__(self)
 |      Return hash(self).
 |
 |  __ne__(self, other)
 |      Return self!=value.
 |
 |  __repr__(self)
 |      Return repr(self).
 |
 |  fromInternal(self, obj)
 |      Converts an internal SQL object into a native Python object.
 |
 |  json(self)
 |
 |  jsonValue(self)
 |
 |  needConversion(self)
 |      Does this type need to conversion between Python object and internal SQL object.
 |
 |      This is used to avoid the unnecessary conversion for ArrayType/MapType/StructType.
 |
 |  toInternal(self, obj)
 |      Converts a Python object into an internal SQL object.
 |
 |  ----------------------------------------------------------------------
 |  Class methods inherited from DataType:
 |
 |  typeName() from builtins.type
 |
 |  ----------------------------------------------------------------------
 |  Data descriptors inherited from DataType:
 |
 |  __dict__
 |      dictionary for instance variables (if defined)
 |
 |  __weakref__
 |      list of weak references to the object (if defined)

##  Your answer

## Solution

In [47]:
# Regular function version

from pyspark.sql.functions import udf
from pyspark.sql.types import IntegerType


# Define the UDF using a "regular" function
def sox_pairs(x):
    return round(float(x)/2.0)
    
sox_pairs_udf = udf(lambda x: sox_pairs(x), IntegerType())


# Apply the UDF to the DF
df_with_pairs = df \
.withColumn("number_sox_pair", sox_pairs_udf("number_sox"))


# Show the results
df_with_pairs.show()

+---+----------+----------+----------+---------------+
| id|first_name| last_name|number_sox|number_sox_pair|
+---+----------+----------+----------+---------------+
|  1|      John|       Doe|        24|             12|
|  3|    Herbie|   Hancock|        29|             14|
|  2|      Jane|       Doe|        30|             15|
|  4|      Erin|Brockovich|        40|             20|
+---+----------+----------+----------+---------------+

In [48]:
# Lambda function version

from pyspark.sql.functions import udf
from pyspark.sql.types import IntegerType


# Create the UDF directly from a lambda function
sox_pairs_udf_l = udf(lambda x: round(float(x)/2.0), IntegerType())


# Apply the UDF to the DF
df_with_pairs = df \
.withColumn("number_sox_pair", sox_pairs_udf_l("number_sox"))

# Show the results
df_with_pairs.show()

+---+----------+----------+----------+---------------+
| id|first_name| last_name|number_sox|number_sox_pair|
+---+----------+----------+----------+---------------+
|  1|      John|       Doe|        24|             12|
|  3|    Herbie|   Hancock|        29|             14|
|  2|      Jane|       Doe|        30|             15|
|  4|      Erin|Brockovich|        40|             20|
+---+----------+----------+----------+---------------+

---
# Aggregation

## Question

Calculate the total number of individual sox owned by each family using the functions `groupBy()`, `agg()` and `sum()`.

Name the column with the number of sox `number_sox_per_family` using the method `alias()`.

Put the resulting dataframe in `counts_df`.

In [49]:
help(pyspark.sql.dataframe.DataFrame.groupBy)

Help on function groupBy in module pyspark.sql.dataframe:

groupBy(self, *cols)
    Groups the :class:`DataFrame` using the specified columns,
    so we can run aggregation on them. See :class:`GroupedData`
    for all the available aggregate functions.

    :func:`groupby` is an alias for :func:`groupBy`.

    :param cols: list of columns to group by.
        Each element should be a column name (string) or an expression (:class:`Column`).

    >>> df.groupBy().avg().collect()
    [Row(avg(age)=3.5)]
    >>> sorted(df.groupBy('name').agg({'age': 'mean'}).collect())
    [Row(name='Alice', avg(age)=2.0), Row(name='Bob', avg(age)=5.0)]
    >>> sorted(df.groupBy(df.name).avg().collect())
    [Row(name='Alice', avg(age)=2.0), Row(name='Bob', avg(age)=5.0)]
    >>> sorted(df.groupBy(['name', df.age]).count().collect())
    [Row(name='Alice', age=2, count=1), Row(name='Bob', age=5, count=1)]

    .. versionadded:: 1.3

In [50]:
help(pyspark.sql.dataframe.DataFrame.agg)

Help on function agg in module pyspark.sql.dataframe:

agg(self, *exprs)
    Aggregate on the entire :class:`DataFrame` without groups
    (shorthand for ``df.groupBy.agg()``).

    >>> df.agg({"age": "max"}).collect()
    [Row(max(age)=5)]
    >>> from pyspark.sql import functions as F
    >>> df.agg(F.min(df.age)).collect()
    [Row(min(age)=2)]

    .. versionadded:: 1.3

In [51]:
help(pyspark.sql.functions.sum)

Help on function sum in module pyspark.sql.functions:

sum(col)
    Aggregate function: returns the sum of all values in the expression.

    .. versionadded:: 1.3

In [52]:
help(pyspark.sql.dataframe.DataFrame.alias)

Help on function alias in module pyspark.sql.dataframe:

alias(self, alias)
    Returns a new :class:`DataFrame` with an alias set.

    >>> from pyspark.sql.functions import *
    >>> df_as1 = df.alias("df_as1")
    >>> df_as2 = df.alias("df_as2")
    >>> joined_df = df_as1.join(df_as2, col("df_as1.name") == col("df_as2.name"), 'inner')
    >>> joined_df.select("df_as1.name", "df_as2.name", "df_as2.age").collect()
    [Row(name='Bob', name='Bob', age=5), Row(name='Alice', name='Alice', age=2)]

    .. versionadded:: 1.3

##  Your answer

## Solution

In [53]:
from pyspark.sql.functions import sum

counts_df = df  \
.groupBy('last_name') \
.agg(sum('number_sox') \
.alias('number_sox_per_family'))

counts_df.show()

+----------+---------------------+
| last_name|number_sox_per_family|
+----------+---------------------+
|   Hancock|                   29|
|       Doe|                   54|
|Brockovich|                   40|
+----------+---------------------+

Note: The concept of UDF can be taken one step futher to be applicable to aggregation situation, these UDFs are called UDAFs (User Defined Aggregated Functions). Ex: if you want to apply an advanced algorithm to a dataframe in an aggregated fashion: you would need to create a UDAF which implements the algorithm and takes care of grouped computation. This is a very advanced topic and is not covered in this training.

---
# Exploding a "list" column into rows

## Question
Sometime, columns contain lists of values and it is useful to expand (or explode) each all the values in the lists into multiple rows.

Using the function `explode()`, expand the column `list` into multiple rows and rename the column `list` to `item`

The resulting dataframe will have 2 columns: `id` and `item` and will be named `exploded_df`.

Hint: you will need to `select()` the columns you want in the resulting dataframe.

In [54]:
col_names = ['id', 'list']
rows = [
    (1, ['A', 'B']),
    (2, ['C']),
    (3, ['D', 'D']),
    (4, ['E', 'F']),        
]

list_df = spark.createDataFrame(rows, col_names)
list_df.show()

+---+------+
| id|  list|
+---+------+
|  1|[A, B]|
|  2|   [C]|
|  3|[D, D]|
|  4|[E, F]|
+---+------+

In [55]:
help(pyspark.sql.functions.explode)

Help on function explode in module pyspark.sql.functions:

explode(col)
    Returns a new row for each element in the given array or map.

    >>> from pyspark.sql import Row
    >>> eDF = spark.createDataFrame([Row(a=1, intlist=[1,2,3], mapfield={"a": "b"})])
    >>> eDF.select(explode(eDF.intlist).alias("anInt")).collect()
    [Row(anInt=1), Row(anInt=2), Row(anInt=3)]

    >>> eDF.select(explode(eDF.mapfield).alias("key", "value")).show()
    +---+-----+
    |key|value|
    +---+-----+
    |  a|    b|
    +---+-----+

    .. versionadded:: 1.4

##  Your answer

## Solution

In [56]:
from pyspark.sql.functions import explode

exploded_df = list_df \
.select('id', explode('list').alias('item'))

exploded_df.show()

+---+----+
| id|item|
+---+----+
|  1|   A|
|  1|   B|
|  2|   C|
|  3|   D|
|  3|   D|
|  4|   E|
|  4|   F|
+---+----+

---
# Grouping multiple rows into a "list" column

## Question

Recreate `list_df` from `exploded_df`:

Group the rows from `exploded_df` by `id` and put all the `item` from the original rows for each `id` in `exploded_df` in a list using the functions `collect_list()`, `groupyBy()`,` agg()`.

Name the resulting -"list-column" `list`.

In [57]:
help(pyspark.sql.functions.collect_list)

Help on function collect_list in module pyspark.sql.functions:

collect_list(col)
    Aggregate function: returns a list of objects with duplicates.

    >>> df2 = spark.createDataFrame([(2,), (5,), (5,)], ('age',))
    >>> df2.agg(collect_list('age')).collect()
    [Row(collect_list(age)=[2, 5, 5])]

    .. versionadded:: 1.6

##  Your answer

## Solution

In [58]:
from pyspark.sql.functions import collect_list

exploded_df \
.groupBy('id') \
.agg(collect_list('item') \
.alias('list')) \
.show()

+---+------+
| id|  list|
+---+------+
|  1|[A, B]|
|  3|[D, D]|
|  2|   [C]|
|  4|[E, F]|
+---+------+

Note: multiple rows can be grouped into a `list` or a `set` with one row per `list` or `set`. Order is conserved for lists, sets do not have the concept of order so the original ordering information from the rows will be lost.

In [59]:
from pyspark.sql.functions import collect_set

exploded_df \
.groupBy('id') \
.agg(collect_set('item') \
.alias('set')) \
.show()

+---+------+
| id|   set|
+---+------+
|  1|[B, A]|
|  3|   [D]|
|  2|   [C]|
|  4|[F, E]|
+---+------+

---
# Loading data from a CSV file on HDFS into a Spark dataframe

## Question

Using the method `spark.read.option().option().csv(path)`, load a csv file located on HDFS at `csv_path` into the dataframe `temperature_df`.

The Spark session object (named `spark`) was already instantiated in the first cells of the notebook.

In [60]:
csv_path = "/user/vagrant/data/earth-surface-temperature/csv/GlobalLandTemperaturesByMajorCity.csv"

In [61]:
! hdfs dfs -ls -h $csv_path

-rw-r--r--   1 vagrant hdfs     13.5 M 2020-08-03 13:29 /user/vagrant/data/earth-surface-temperature/csv/GlobalLandTemperaturesByMajorCity.csv

In [62]:
type(spark)

pyspark.sql.session.SparkSession

In [63]:
help(pyspark.sql.session.SparkSession.read)

Help on property:

    Returns a :class:`DataFrameReader` that can be used to read data
    in as a :class:`DataFrame`.

    :return: :class:`DataFrameReader`

    .. versionadded:: 2.0

In [64]:
help(pyspark.sql.readwriter.DataFrameReader.csv)

Help on function csv in module pyspark.sql.readwriter:

csv(self, path, schema=None, sep=None, encoding=None, quote=None, escape=None, comment=None, header=None, inferSchema=None, ignoreLeadingWhiteSpace=None, ignoreTrailingWhiteSpace=None, nullValue=None, nanValue=None, positiveInf=None, negativeInf=None, dateFormat=None, timestampFormat=None, maxColumns=None, maxCharsPerColumn=None, maxMalformedLogPerPartition=None, mode=None, columnNameOfCorruptRecord=None, multiLine=None, charToEscapeQuoteEscaping=None)
    Loads a CSV file and returns the result as a  :class:`DataFrame`.

    This function will go through the input once to determine the input schema if
    ``inferSchema`` is enabled. To avoid going through the entire data once, disable
    ``inferSchema`` option or specify the schema explicitly using ``schema``.

    :param path: string, or list of strings, for input path(s),
                 or RDD of Strings storing CSV rows.
    :param schema: an optional :class:`pyspark.sql.types.StructType` for the input schema
                   or a DDL-formatted string (For example ``col0 INT, col1 DOUBLE``).
    :param sep: sets a single character as a separator for each field and value.
                If None is set, it uses the default value, ``,``.
    :param encoding: decodes the CSV files by the given encoding type. If None is set,
                     it uses the default value, ``UTF-8``.
    :param quote: sets a single character used for escaping quoted values where the
                  separator can be part of the value. If None is set, it uses the default
                  value, ``"``. If you would like to turn off quotations, you need to set an
                  empty string.
    :param escape: sets a single character used for escaping quotes inside an already
                   quoted value. If None is set, it uses the default value, ``\``.
    :param comment: sets a single character used for skipping lines beginning with this
                    character. By default (None), it is disabled.
    :param header: uses the first line as names of columns. If None is set, it uses the
                   default value, ``false``.
    :param inferSchema: infers the input schema automatically from data. It requires one extra
                   pass over the data. If None is set, it uses the default value, ``false``.
    :param ignoreLeadingWhiteSpace: A flag indicating whether or not leading whitespaces from
                                    values being read should be skipped. If None is set, it
                                    uses the default value, ``false``.
    :param ignoreTrailingWhiteSpace: A flag indicating whether or not trailing whitespaces from
                                     values being read should be skipped. If None is set, it
                                     uses the default value, ``false``.
    :param nullValue: sets the string representation of a null value. If None is set, it uses
                      the default value, empty string. Since 2.0.1, this ``nullValue`` param
                      applies to all supported types including the string type.
    :param nanValue: sets the string representation of a non-number value. If None is set, it
                     uses the default value, ``NaN``.
    :param positiveInf: sets the string representation of a positive infinity value. If None
                        is set, it uses the default value, ``Inf``.
    :param negativeInf: sets the string representation of a negative infinity value. If None
                        is set, it uses the default value, ``Inf``.
    :param dateFormat: sets the string that indicates a date format. Custom date formats
                       follow the formats at ``java.text.SimpleDateFormat``. This
                       applies to date type. If None is set, it uses the
                       default value, ``yyyy-MM-dd``.
    :param timestampFormat: sets the string that indicates a timestamp format. Custom date
                            formats follow the formats at ``java.text.SimpleDateFormat``.
                            This applies to timestamp type. If None is set, it uses the
                            default value, ``yyyy-MM-dd'T'HH:mm:ss.SSSXXX``.
    :param maxColumns: defines a hard limit of how many columns a record can have. If None is
                       set, it uses the default value, ``20480``.
    :param maxCharsPerColumn: defines the maximum number of characters allowed for any given
                              value being read. If None is set, it uses the default value,
                              ``-1`` meaning unlimited length.
    :param maxMalformedLogPerPartition: this parameter is no longer used since Spark 2.2.0.
                                        If specified, it is ignored.
    :param mode: allows a mode for dealing with corrupt records during parsing. If None is
                 set, it uses the default value, ``PERMISSIVE``.

            * ``PERMISSIVE`` : when it meets a corrupted record, puts the malformed string                   into a field configured by ``columnNameOfCorruptRecord``, and sets other                   fields to ``null``. To keep corrupt records, an user can set a string type                   field named ``columnNameOfCorruptRecord`` in an user-defined schema. If a                   schema does not have the field, it drops corrupt records during parsing.                   A record with less/more tokens than schema is not a corrupted record to CSV.                   When it meets a record having fewer tokens than the length of the schema,                   sets ``null`` to extra fields. When the record has more tokens than the                   length of the schema, it drops extra tokens.
            * ``DROPMALFORMED`` : ignores the whole corrupted records.
            * ``FAILFAST`` : throws an exception when it meets corrupted records.

    :param columnNameOfCorruptRecord: allows renaming the new field having malformed string
                                      created by ``PERMISSIVE`` mode. This overrides
                                      ``spark.sql.columnNameOfCorruptRecord``. If None is set,
                                      it uses the value specified in
                                      ``spark.sql.columnNameOfCorruptRecord``.
    :param multiLine: parse records, which may span multiple lines. If None is
                      set, it uses the default value, ``false``.
    :param charToEscapeQuoteEscaping: sets a single character used for escaping the escape for
                                      the quote character. If None is set, the default value is
                                      escape character when escape and quote characters are
                                      different, `` `` otherwise.

    >>> df = spark.read.csv('python/test_support/sql/ages.csv')
    >>> df.dtypes
    [('_c0', 'string'), ('_c1', 'string')]
    >>> rdd = sc.textFile('python/test_support/sql/ages.csv')
    >>> df2 = spark.read.csv(rdd)
    >>> df2.dtypes
    [('_c0', 'string'), ('_c1', 'string')]

    .. versionadded:: 2.0

##  Your answer

## Solution

In [65]:
temperature_df = spark \
.read \
.option("header", "true") \
.option("inferschema", "true") \
.option("mode", "DROPMALFORMED") \
.csv(csv_path)

temperature_df.show()

+-------------------+------------------+-----------------------------+-------+-------------+--------+---------+
|                 dt|AverageTemperature|AverageTemperatureUncertainty|   City|      Country|Latitude|Longitude|
+-------------------+------------------+-----------------------------+-------+-------------+--------+---------+
|1849-01-01 00:00:00|            26.704|                        1.435|Abidjan|Cte D'Ivoire|   5.63N|    3.23W|
|1849-02-01 00:00:00|            27.434|                        1.362|Abidjan|Cte D'Ivoire|   5.63N|    3.23W|
|1849-03-01 00:00:00|            28.101|                        1.612|Abidjan|Cte D'Ivoire|   5.63N|    3.23W|
|1849-04-01 00:00:00|             26.14|           1.3869999999999998|Abidjan|Cte D'Ivoire|   5.63N|    3.23W|
|1849-05-01 00:00:00|            25.427|                          1.2|Abidjan|Cte D'Ivoire|   5.63N|    3.23W|
|1849-06-01 00:00:00|            24.844|                        1.402|Abidjan|Cte D'Ivoire|   5.63N|    3.23W|
|1849-07-01 00:00:00|24.058000000000003|                        1.254|Abidjan|Cte D'Ivoire|   5.63N|    3.23W|
|1849-08-01 00:00:00|            23.576|                        1.265|Abidjan|Cte D'Ivoire|   5.63N|    3.23W|
|1849-09-01 00:00:00|            23.662|                        1.226|Abidjan|Cte D'Ivoire|   5.63N|    3.23W|
|1849-10-01 00:00:00|            25.263|                        1.175|Abidjan|Cte D'Ivoire|   5.63N|    3.23W|
|1849-11-01 00:00:00|26.331999999999997|                        1.507|Abidjan|Cte D'Ivoire|   5.63N|    3.23W|
|1849-12-01 00:00:00|             25.45|                        1.838|Abidjan|Cte D'Ivoire|   5.63N|    3.23W|
|1850-01-01 00:00:00|            25.803|                        1.943|Abidjan|Cte D'Ivoire|   5.63N|    3.23W|
|1850-02-01 00:00:00|             27.89|                         1.43|Abidjan|Cte D'Ivoire|   5.63N|    3.23W|
|1850-03-01 00:00:00|            27.852|                        2.173|Abidjan|Cte D'Ivoire|   5.63N|    3.23W|
|1850-04-01 00:00:00|26.546999999999997|                        1.662|Abidjan|Cte D'Ivoire|   5.63N|    3.23W|
|1850-05-01 00:00:00|            25.379|                        1.355|Abidjan|Cte D'Ivoire|   5.63N|    3.23W|
|1850-06-01 00:00:00|24.903000000000002|                        1.178|Abidjan|Cte D'Ivoire|   5.63N|    3.23W|
|1850-07-01 00:00:00|24.040000000000006|                        1.301|Abidjan|Cte D'Ivoire|   5.63N|    3.23W|
|1850-08-01 00:00:00|23.758000000000003|           1.2819999999999998|Abidjan|Cte D'Ivoire|   5.63N|    3.23W|
+-------------------+------------------+-----------------------------+-------+-------------+--------+---------+
only showing top 20 rows

---
# Sampling rows

## Question

Sample 10% of `temperature_df`'s rows using the method `sample()`.

Make sure it is possible to reproduce the random selection.

Put the resulting dataframe in `sampled_df`.

Use the method `count()` to count the number of rows and verify the sampling is correct.

In [66]:
help(pyspark.sql.dataframe.DataFrame.sample)

Help on function sample in module pyspark.sql.dataframe:

sample(self, withReplacement=None, fraction=None, seed=None)
    Returns a sampled subset of this :class:`DataFrame`.

    :param withReplacement: Sample with replacement or not (default False).
    :param fraction: Fraction of rows to generate, range [0.0, 1.0].
    :param seed: Seed for sampling (default a random seed).

    .. note:: This is not guaranteed to provide exactly the fraction specified of the total
        count of the given :class:`DataFrame`.

    .. note:: `fraction` is required and, `withReplacement` and `seed` are optional.

    >>> df = spark.range(10)
    >>> df.sample(0.5, 3).count()
    4
    >>> df.sample(fraction=0.5, seed=3).count()
    4
    >>> df.sample(withReplacement=True, fraction=0.5, seed=3).count()
    1
    >>> df.sample(1.0).count()
    10
    >>> df.sample(fraction=1.0).count()
    10
    >>> df.sample(False, fraction=1.0).count()
    10

    .. versionadded:: 1.3

In [67]:
help(pyspark.sql.dataframe.DataFrame.count)

Help on function count in module pyspark.sql.dataframe:

count(self)
    Returns the number of rows in this :class:`DataFrame`.

    >>> df.count()
    2

    .. versionadded:: 1.3

##  Your answer

## Solution

In [68]:
temperature_df.count()

239177

In [69]:
sampled_df = temperature_df.sample(fraction = 0.1, seed = 1234)

sampled_df.count()

23828

---
# Writing a Spark dataframe to a parquet file on HDFS

## Question

Parquet is a great format to persist tabular data. It performs especially well for dataframes which have columns with values repeating on contigous rows.

Use `df.write.parquet(path)` to persist `temperature_df` to HDFS at `parquet_path` using the parquet format.

In [70]:
parquet_path = "/user/vagrant/data/earth-surface-temperature/parquet/GlobalLandTemperaturesByMajorCity"

In [71]:
help(pyspark.sql.dataframe.DataFrame.write)

Help on property:

    Interface for saving the content of the non-streaming :class:`DataFrame` out into external
    storage.

    :return: :class:`DataFrameWriter`

    .. versionadded:: 1.4

In [72]:
help(pyspark.sql.readwriter.DataFrameWriter.parquet)

Help on function parquet in module pyspark.sql.readwriter:

parquet(self, path, mode=None, partitionBy=None, compression=None)
    Saves the content of the :class:`DataFrame` in Parquet format at the specified path.

    :param path: the path in any Hadoop supported file system
    :param mode: specifies the behavior of the save operation when data already exists.

        * ``append``: Append contents of this :class:`DataFrame` to existing data.
        * ``overwrite``: Overwrite existing data.
        * ``ignore``: Silently ignore this operation if data already exists.
        * ``error`` or ``errorifexists`` (default case): Throw an exception if data already                 exists.
    :param partitionBy: names of partitioning columns
    :param compression: compression codec to use when saving to file. This can be one of the
                        known case-insensitive shorten names (none, snappy, gzip, and lzo).
                        This will override ``spark.sql.parquet.compression.codec``. If None
                        is set, it uses the value specified in
                        ``spark.sql.parquet.compression.codec``.

    >>> df.write.parquet(os.path.join(tempfile.mkdtemp(), 'data'))

    .. versionadded:: 1.4

##  Your answer

## Solution

In [73]:
# Cleanup the path is something else is already there
! hdfs dfs -rm -R $parquet_path

20/08/10 16:58:25 INFO fs.TrashPolicyDefault: Moved: 'hdfs://slalomdsvm:8020/user/vagrant/data/earth-surface-temperature/parquet/GlobalLandTemperaturesByMajorCity' to trash at: hdfs://slalomdsvm:8020/user/vagrant/.Trash/Current/user/vagrant/data/earth-surface-temperature/parquet/GlobalLandTemperaturesByMajorCity1597103905375

In [74]:
# Default write, will write to multiple files (due to number reducers in Spark's internal architecture)
temperature_df \
.write \
.parquet(parquet_path)

In [75]:
! hdfs dfs -ls -R -h $parquet_path

-rw-r--r--   1 vagrant hdfs          0 2020-08-10 16:58 /user/vagrant/data/earth-surface-temperature/parquet/GlobalLandTemperaturesByMajorCity/_SUCCESS
-rw-r--r--   1 vagrant hdfs    854.8 K 2020-08-10 16:58 /user/vagrant/data/earth-surface-temperature/parquet/GlobalLandTemperaturesByMajorCity/part-00000-8b9e9c92-45a8-4c7f-af54-dffefec21895-c000.snappy.parquet
-rw-r--r--   1 vagrant hdfs    567.4 K 2020-08-10 16:58 /user/vagrant/data/earth-surface-temperature/parquet/GlobalLandTemperaturesByMajorCity/part-00001-8b9e9c92-45a8-4c7f-af54-dffefec21895-c000.snappy.parquet

The df will be written to HDFS in a directory containing multiple files (one per Spark reducer). To control the number of output files:

In [76]:
#(note the mode `overwrite` to avoid having to delete the directory beforehand if it already exists)

n_files = 1

temperature_df \
.coalesce(n_files) \
.write \
.mode('overwrite') \
.parquet(parquet_path)

In [77]:
! hdfs dfs -ls -R -h $parquet_path

-rw-r--r--   1 vagrant hdfs          0 2020-08-10 16:58 /user/vagrant/data/earth-surface-temperature/parquet/GlobalLandTemperaturesByMajorCity/_SUCCESS
-rw-r--r--   1 vagrant hdfs      1.2 M 2020-08-10 16:58 /user/vagrant/data/earth-surface-temperature/parquet/GlobalLandTemperaturesByMajorCity/part-00000-ad866dee-10ac-44d3-affa-441e607f8e45-c000.snappy.parquet

Parquet also provides a very convenient partitioning functionality, the data for each single value in the partition will be under its own directory on HDFS.
In-file indexing  is comping up but requires installation of additional libraries and is not ubiquitous yet.

In [78]:
temperature_df \
.orderBy('Country', 'City', 'dt') \
.write \
.partitionBy('Country') \
.mode('overwrite') \
.parquet(parquet_path)

In [79]:
! hdfs dfs -ls -R -h $parquet_path | head -20

drwxr-xr-x   - vagrant hdfs          0 2020-08-10 16:58 /user/vagrant/data/earth-surface-temperature/parquet/GlobalLandTemperaturesByMajorCity/Country=Afghanistan
-rw-r--r--   1 vagrant hdfs     20.1 K 2020-08-10 16:58 /user/vagrant/data/earth-surface-temperature/parquet/GlobalLandTemperaturesByMajorCity/Country=Afghanistan/part-00000-fb252b37-e78f-4135-9272-b6db37262217.c000.snappy.parquet
-rw-r--r--   1 vagrant hdfs     16.1 K 2020-08-10 16:58 /user/vagrant/data/earth-surface-temperature/parquet/GlobalLandTemperaturesByMajorCity/Country=Afghanistan/part-00001-fb252b37-e78f-4135-9272-b6db37262217.c000.snappy.parquet
drwxr-xr-x   - vagrant hdfs          0 2020-08-10 16:58 /user/vagrant/data/earth-surface-temperature/parquet/GlobalLandTemperaturesByMajorCity/Country=Angola
-rw-r--r--   1 vagrant hdfs      3.4 K 2020-08-10 16:58 /user/vagrant/data/earth-surface-temperature/parquet/GlobalLandTemperaturesByMajorCity/Country=Angola/part-00001-fb252b37-e78f-4135-9272-b6db37262217.c000.snappy.parquet
-rw-r--r--   1 vagrant hdfs     16.2 K 2020-08-10 16:58 /user/vagrant/data/earth-surface-temperature/parquet/GlobalLandTemperaturesByMajorCity/Country=Angola/part-00002-fb252b37-e78f-4135-9272-b6db37262217.c000.snappy.parquet
-rw-r--r--   1 vagrant hdfs     12.4 K 2020-08-10 16:58 /user/vagrant/data/earth-surface-temperature/parquet/GlobalLandTemperaturesByMajorCity/Country=Angola/part-00003-fb252b37-e78f-4135-9272-b6db37262217.c000.snappy.parquet
drwxr-xr-x   - vagrant hdfs          0 2020-08-10 16:58 /user/vagrant/data/earth-surface-temperature/parquet/GlobalLandTemperaturesByMajorCity/Country=Australia
-rw-r--r--   1 vagrant hdfs      8.7 K 2020-08-10 16:58 /user/vagrant/data/earth-surface-temperature/parquet/GlobalLandTemperaturesByMajorCity/Country=Australia/part-00003-fb252b37-e78f-4135-9272-b6db37262217.c000.snappy.parquet
-rw-r--r--   1 vagrant hdfs     19.5 K 2020-08-10 16:58 /user/vagrant/data/earth-surface-temperature/parquet/GlobalLandTemperaturesByMajorCity/Country=Australia/part-00004-fb252b37-e78f-4135-9272-b6db37262217.c000.snappy.parquet
-rw-r--r--   1 vagrant hdfs     20.7 K 2020-08-10 16:58 /user/vagrant/data/earth-surface-temperature/parquet/GlobalLandTemperaturesByMajorCity/Country=Australia/part-00005-fb252b37-e78f-4135-9272-b6db37262217.c000.snappy.parquet
-rw-r--r--   1 vagrant hdfs     17.5 K 2020-08-10 16:58 /user/vagrant/data/earth-surface-temperature/parquet/GlobalLandTemperaturesByMajorCity/Country=Australia/part-00006-fb252b37-e78f-4135-9272-b6db37262217.c000.snappy.parquet
drwxr-xr-x   - vagrant hdfs          0 2020-08-10 16:58 /user/vagrant/data/earth-surface-temperature/parquet/GlobalLandTemperaturesByMajorCity/Country=Bangladesh
-rw-r--r--   1 vagrant hdfs      2.5 K 2020-08-10 16:58 /user/vagrant/data/earth-surface-temperature/parquet/GlobalLandTemperaturesByMajorCity/Country=Bangladesh/part-00006-fb252b37-e78f-4135-9272-b6db37262217.c000.snappy.parquet
-rw-r--r--   1 vagrant hdfs     20.9 K 2020-08-10 16:58 /user/vagrant/data/earth-surface-temperature/parquet/GlobalLandTemperaturesByMajorCity/Country=Bangladesh/part-00007-fb252b37-e78f-4135-9272-b6db37262217.c000.snappy.parquet
-rw-r--r--   1 vagrant hdfs     18.1 K 2020-08-10 16:58 /user/vagrant/data/earth-surface-temperature/parquet/GlobalLandTemperaturesByMajorCity/Country=Bangladesh/part-00008-fb252b37-e78f-4135-9272-b6db37262217.c000.snappy.parquet
-rw-r--r--   1 vagrant hdfs      2.5 K 2020-08-10 16:58 /user/vagrant/data/earth-surface-temperature/parquet/GlobalLandTemperaturesByMajorCity/Country=Bangladesh/part-00009-fb252b37-e78f-4135-9272-b6db37262217.c000.snappy.parquet
drwxr-xr-x   - vagrant hdfs          0 2020-08-10 16:58 /user/vagrant/data/earth-surface-temperature/parquet/GlobalLandTemperaturesByMajorCity/Country=Brazil
-rw-r--r--   1 vagrant hdfs     17.5 K 2020-08-10 16:58 /user/vagrant/data/earth-surface-temperature/parquet/GlobalLandTemperaturesByMajorCity/Country=Brazil/part-00009-fb252b37-e78f-4135-9272-b6db37262217.c000.snappy.parquet
-rw-r--r--   1 vagrant hdfs     20.3 K 2020-08-10 16:58 /user/vagrant/data/earth-surface-temperature/parquet/GlobalLandTemperaturesByMajorCity/Country=Brazil/part-00010-fb252b37-e78f-4135-9272-b6db37262217.c000.snappy.parquet

Notes: In general, we want to create files with a size of a few times the HDFS block-size (default: 128MB). We want a few large files (YES: 100+MB -> 1GB), not many small files (NO: 1KB -> 10MB). It takes a lot longer to read/write many small files.

---
# Collecting a Spark dataframe into a "regular" pandas dataframe

## Question

Using the function `toPandas`, collect `df` from Spark's executor memories into the "regular" Python memory as a Pandas datadrame.

Put the resulting Pandas dataframe in `pandas_df` (not a Spark dataframe anymore).

In [80]:
help(pyspark.sql.dataframe.DataFrame.toPandas)

Help on function toPandas in module pyspark.sql.dataframe:

toPandas(self)
    Returns the contents of this :class:`DataFrame` as Pandas ``pandas.DataFrame``.

    This is only available if Pandas is installed and available.

    .. note:: This method should only be used if the resulting Pandas's DataFrame is expected
        to be small, as all the data is loaded into the driver's memory.

    .. note:: Usage with spark.sql.execution.arrow.enabled=True is experimental.

    >>> df.toPandas()  # doctest: +SKIP
       age   name
    0    2  Alice
    1    5    Bob

    .. versionadded:: 1.3

##  Your answer

## Solution

In [81]:
# Collect into a "classic" pandas dataframe
pandas_df = df.toPandas()
pandas_df

   id first_name   last_name  number_sox
0   1       John         Doe          24
1   3     Herbie     Hancock          29
2   2       Jane         Doe          30
3   4       Erin  Brockovich          40

Note: you may also collect the Spark dataframe into a list of `pyspark.sql.Rows`.

In [82]:
collected_rows = df.collect()

collected_rows

[Row(id=1, first_name='John', last_name='Doe', number_sox=24),
 Row(id=3, first_name='Herbie', last_name='Hancock', number_sox=29),
 Row(id=2, first_name='Jane', last_name='Doe', number_sox=30),
 Row(id=4, first_name='Erin', last_name='Brockovich', number_sox=40)]

---
# Closing the Spark session

## Question

Close the spark session to destroy the executors and release cluster CPU/RAM resources (completes YARN application and destroys executors, driver JVM).
Confirm the YARN application has been terminated by using the YARN UI or shell command `yarn application -list`.

In [83]:
help(pyspark.sql.session.SparkSession.stop)

Help on function stop in module pyspark.sql.session:

stop(self)
    Stop the underlying :class:`SparkContext`.

    .. versionadded:: 2.0

##  Your answer

## Solution

Close the `spark` session to destroy the release cluster CPU/RAM resources (completes YARN application and destroys executors, driver JVM).

In [84]:
spark.stop()

Check the YARN UI: [http://slalomdsvm:8088/ui2/](http://slalomdsvm:8088/ui2/)

In [85]:
! yarn application -list

20/08/10 16:59:09 INFO client.RMProxy: Connecting to ResourceManager at slalomdsvm/10.0.2.15:8050
20/08/10 16:59:09 INFO client.AHSProxy: Connecting to Application History server at slalomdsvm/10.0.2.15:10200
Total number of applications (application-types: [], states: [SUBMITTED, ACCEPTED, RUNNING] and tags: []):0
                Application-Id	    Application-Name	    Application-Type	      User	     Queue	             State	       Final-State	       Progress	                       Tracking-URL